extends ../layouts/default

block js
  script(src='/bower_components/angular/angular.js')
  script(src='/js/contacts.js')

block content
  .contact-divider
  .contacts-page
    h1.text-center.page-title= i18n.__('addresses')
    .addresses
      .address
        span.glyphicon.glyphicon-home.home-icon
        span!=contacts.addressBY
      
      if contacts.addressRU
        .address
          span.glyphicon.glyphicon-home.home-icon
          span!=contacts.addressRU
    .contact-divider
    .contacts-form(ng-app='app', ng-controller='AppCtrl as vm')
      .container-fluid(ng-if='vm.isSuccess')
        h2.thanks= i18n.__('thanksForFeedback')
      h2.text-center(ng-hide='vm.isSuccess')= i18n.__('feedback')
    
      form(name='vm.form', ng-submit='vm.form.$valid && vm.submit()' ng-hide='vm.isSuccess')
        .form-group
          label= i18n.__('name')
          span.required  *
          input(type='text', name='name', ng-model='vm.model.name', required).form-control
        .form-group
          label Email
          span.required  *
          input(type='email', name='email', ng-model='vm.model.email', required).form-control
        .form-group
          label= i18n.__('phone')
          input(type='text', name='phone', ng-model='vm.model.phone').form-control
        .form-group
          label= i18n.__('message')
          span.required  *
          textarea(name='message', rows=4, ng-model='vm.model.message', required).form-control
        .form-actions
          button(type='button', ng-disabled='vm.form.$invalid && vm.form.$submitted', ng-click='vm.submit()').btn.btn-default= i18n.__('send')

          
    iframe(class='map', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1178.838816039483!2d27.64868792130167!3d53.777425997283494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDQ2JzM4LjciTiAyN8KwMzgnNTguMiJF!5e0!3m2!1sen!2sus!4v1509057968511", width="100%", height="450", frameborder="0" style="border:0" allowfullscreen)
