extends ../layouts/default

block js
  script(src='/libs/slick/slick.min.js')
  script(src='/bower_components/letteringjs/jquery.lettering.js')
  script(src='/bower_components/textillate/jquery.textillate.js')
  script(src='/bower_components/countUp.js/dist/countUp.min.js')
  script(src='/js/home.js')
  
  script(src='/bower_components/angular/angular.min.js')
  script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='/js/ng-home.js')
    
block content    
  if info.images
    .slider
      each image, index in info.images
        .slide(style='background-image: url(' + image.url + ')')
          .text-wrap
            h2.brand-name= info.name
            .divider _____________
            h1(class="slider-text slider-text-" + index)= info.sliderTexts[index]
    
  if serviceList
    h1.text-center= info.ourServices

    .service-block
      img.services-img(src=serviceList.image.url)
      .content-block
        h2= serviceList.name
        h4.services-description= serviceList.description
        
        if serviceList.services
          .services
            for service, index in serviceList.services
              - var className = index % 2 === 0 ? 'even' : '';
                
              .service(class='' + className + ''): .inner: .inner-content
                if service.image.url
                  img.service-img(src=service.image.url)
                .description
                  span.name= service.name 
                  if service.text
                    br
                    span.text= service.text
  
  
  if stageList
    .stage-section(ng-app='app', ng-controller='AppCtrl as vm')
      h1.text-center= stageList.name
      
      if stageList.stages
        .stages#stages
          for stage in stageList.stages
            .stage
              img.stage-img(src=stage.image.url)
              .text-block
                h3.title= stage.name
                .content-divider
                h4.text!= stage.text
                div: button.btn.btn-default(ng-click='vm.openPopup()')= i18n.__('sendRequest')
    
    
  //-----------//
  //ABOUT BLOCK//
  //-----------//  
  h1.text-center= i18n.__('aboutCompany')
  .about-company-wrap.clearfix
    img.img-about-company(src= info.image.url)
    .text-about-company!= info.aboutCompany
    
  .numbers-block#counters-block
    .inner-block.container-fluid
      .row
        .col-sm-4.counter-wrap
          .number-block
            img(src='images/c1.png')
            h2.counter(data-count=''+ info.yearCount + '')
            h4= i18n.__('countOfYears')
        .col-sm-4.counter-wrap
          .number-block
            img(src='images/c2.png')
            h2.counter(data-count=''+ info.orderCount + '')
            h4= i18n.__('countOfOrders')
        .col-sm-4.counter-wrap
          .number-block
            img(src='images/c3.png')
            h2.counter(data-count=''+ info.professionalCount + '')
            h4= i18n.__('countOfProfs')

  if profit
    h1.text-center= profit.name
    .profits
      each prof, index in profit.profits
        .profit
          h3= prof.name
          p= prof.text
          .count-wrap
            .count
              .number= index+1
  
