extends ../layouts/default

block js
  script(src='/bower_components/angular/angular.js')
  script(src='/js/contacts.js')

block content
  .contact-divider
  .contacts-page: .container-fluid
    h1.text-center.page-title= i18n.__('products')

    .limit-1000
      h2= productList.name
      p.text= productList.description
    
    if productList.products
      .table-responsive.product-table-wrap 
        table.table.table-striped.table-bordered
          thead 
            tr
              th= i18n.__('article')
              th.text-center= i18n.__('diametr')
              th.text-center= i18n.__('thickness')
              th.text-center= i18n.__('price')
          tbody
            for product in productList.products
              tr
                td= product.name
                td.text-center= product.diameter
                td.text-center= product.thickness
                td.text-center= product.price
              
        p.text= productList.notes
      
