.contacts-page {
	padding-top: 5px;
	margin-bottom: -55px;
	.addresses {
		display: flex;
		justify-content: space-around;
		margin-bottom: 40px;
		margin-top: 30px;
		.address {
			max-width: 320px;
			width: 33%;
		}
		
	}
	.home-icon {
		vertical-align: top;
		margin-top: 5px;
		font-size: 30px;
		border: 1px solid;
		padding: 12px;
		& + span {
			margin-left: 20px;
			display: inline-block;
			width: calc(~'100% - 80px');
		}
	}
	
	.contacts-form {
		width: 50%;
		margin: 40px auto 0;
		.page-title {
			margin-top: 40px;
		}
		.thanks {
			text-align: center;
			margin-top: 40px;
		}
	}
	@media only screen and (max-width: 768px) {
		.contacts-form {
			width: 90%;
		}
		.addresses {
			display: block;
			margin: 30px 15px 40px;
			.address {
				width: 100%;
				max-width: 100%;
				margin-top: 20px;
			}
		}
	}
	.map {
		margin-top: 50px;
	}
}

