// slider
.slider {
	position: relative;
	margin: 25px 0 45px;
	.slick-slide {
		outline: none !important;
	}
	.slide {
		position: relative;
		height: 497px;
		width: 100%;
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		outline: none;
	}
	.slick-next {
		right: 35px;
	}
	.slick-prev {
		left: 35px;
		z-index: 2;
	}
	.slick-dots {
		bottom: 15px;
	}
	.slick-dots li {
		margin: 0 10px;
		button:before {
			color: white;
			font-size: 13px;
			opacity: 0.9;
		}
	}
	.slick-dots li.slick-active button:before {
		color: @gray-darker;
		opacity: 1;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 40px;
	}
	.text-wrap {
		margin-top: 190px;
	}
	.brand-name {
		font-size: 30px;
		font-weight: 300;
		color: white;
		text-align: center;
		text-shadow: 2px 1px 2px #000000;
	}
	.divider {
		height: 1px;
		color: #fff;
		text-align: center;
		margin: -20px auto 0;
		font-family: monospace;
	}
	.slider-text {
		text-align: center;
		color: white;
		font-size: 50px;
		text-shadow: 2px 1px 2px #000000;
	}
}

.about-company-wrap {
	text-align: center;
	margin-top: 30px;
	img, .text-about-company {
		text-align: left;
	}
}

// About company
.img-about-company {
	width: 45%;
	vertical-align: top;
	padding: 0 40px;
}
.text-about-company {
	width: 50%;
	padding-right: 20px;
	display: inline-block;
}

// Numbers 
.numbers-block {
	margin: 50px 0;
	background-image: url('../images/c-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.counter-wrap {
		text-align: center;
	} 
	.number-block {
		text-align: left;
		display: inline-block;
		padding: 40px 0;
	}
	h2, h4 {
		color: white;
	}
	h2 {
		display: inline-block;
		margin-left: 20px;
	}
	
	.inner-block {
		background-color: rgba(191, 1, 1, 0.85);
	}
}

// Profits
.profits {
	display: flex;
	margin-top: 40px;	
	margin-right: 20px;
}

.profit {
	position: relative;
	margin-left: 20px;
	background: rgba(255, 255, 255, 0.71);
	width: 33%;
	h3, p {
		padding: 0 20px;
	}
	p {
		padding-bottom: 40px;
	}
	.count-wrap {
		text-align: center;
		position: absolute;
		bottom: -22px;
		width: 100%;
	}
	.count {
		background: @dark-red;
		margin: 0 auto;
		display: inline-block;
	}
	.number {
		color: white;
		text-align: center;
		padding: 10px 20px;
		font-size: 20px;
		font-weight: normal;
	}
}

.service-block {
	text-align: center;
	margin-top: 20px;
	* {
		text-align: left;
	}
	.services-img {
		max-width: 42%;
		margin: 20px 20px 0;
		vertical-align: top;
	}
	.content-block {
		display: inline-block;
		width: calc(~'58% - 50px');
		padding: 0 20px
	}
	h2 {
		color: @red;
	}
	.services-description {
		margin-top: 30px;
		margin-bottom: 40px;
		white-space: pre-line;
		line-height: initial;
	}
	.service {
		width: calc(~'50% - 15px');
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
		padding: 8px;
		background: white;
		border-radius: 14px;
		position: relative;
		&.even {
			margin-right: 20px;
		}
		.description {
			display: inline-block;
			padding-left: 20px;
			.name {
				text-align: center;
				display: inline-block;
				padding-top: 20px;
			}
		}
	}
	.inner {
		border-radius: 8px;
		border: 2px dashed rgba(140, 139, 139, 0.5);
		padding: 10px;
		min-height: 115px;
		text-align: center;
	}
	.inner-content {
		display: inline-block;
	}
	.service-img {
		max-width: 70px;
		float: left;
		padding-top: 20px;
		& + .description .name {
			border-bottom: 1px dashed #8c8b8b;
			text-align: left;
			padding-top: 20px;
		}
	}
}

.stage-section {
	margin-bottom: 140px;
}
.stages {
	text-align: center;
	margin: 30px 15px 0;
	.stage {
		outline: none;
	}
	.stage-img {
		display: inline-block;
		vertical-align: top;
	}
	.text-block {
		text-align: left;
		display: inline-block;
		max-width: 500px;
		padding-left: 60px;
	}
	.title {
		display: inline-block;
		padding-bottom: 10px;
	}
	.text {
		display: inline-block;
		padding-top: 10px;
	}
	.slick-dots {
		position: relative;
		bottom: 0;
		margin-top: 50px;
		li {
			border: 2px solid #a9a9a9;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			position: relative;
			margin: 0 7px;
			&.slick-active {
				background: @red;
				color: white;
				border: 0 none;
				.dot-number {
					top: 10px;
					left: 21px;
				}
			}
			.dot-number {
				position: absolute;
				top: 9px;
				left: 19px;
				font-size: 20px;
				font-weight: 100;
			}
		}
	}
	.btn {
		outline: none;
	}
}


@media only screen and (max-width: 1200px) {
	.stages {
		.stage-img {
			width: 220px;
		}
	}
}

@media only screen and (max-width: 1130px) {
	.service-block {
		.content-block {
			h2, h4 {
				text-align: center;
			}
		}
		.services-img {
			max-width: 100%;
			padding: 20px;
			margin: 0;
		}
		.content-block {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 768px) {
	.contacts {
		& > .col-sm-6 {
			text-align: center;
			margin-bottom: 20px;
		}
		.col-sm-3 {
			text-align: center;
		}
		
	} 
	.service-block {
		.services {
			text-align: center;
		}
		.service {
			width: 80%;
			&.even {
				margin-right: 0;
			}
		}
	}

	.stages {
		.text-block {
			text-align: center;
			padding-left: 0;
			display: block;
			margin: 0 auto;
		}
	}
	
	.img-about-company {
		width: 100%;
	}
	.text-about-company {
		width: 100%;
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		display: block;
	}

	.numbers-block .number-block {
		padding: 20px 0;
		width: 50%;
	}
	
	.profits {
		display: block;
		margin-right: 40px;
	}
	.profit {
		width: 100%;
		margin-top: 50px;
		h3 {
			padding-top: 21px;
		}
	}
}
