doctype html
html
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    meta(name="description", content=info.meta.description)
    meta(name="keywords", content=info.meta.keywords)
    meta(name="author", content=info.author)
    meta(name="google-site-verification", content="CjrFCbCPkMgoROC9Efdr9Aj3FywVcJtm2VARMSSC23k")

    title= info.meta.title || 'Metallita'
    link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")

    //- Customise the stylesheet for your site by editing /public/styles/site.styl
    link(href="/styles/site.css", rel="stylesheet")

    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  //- HTML BODY
  body

    include ../blocks/nav.pug

    div.container-fluid
      include ../blocks/contacts.pug

    //- The content block should contain the body of your template's content
    block content

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone

    script(src='/libs/jquery/jquery-2.1.4.js')
    script(src='/libs/bootstrap.min.js')
    

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.

    //- Include template-specific javascript files by extending the js block
    block js

    footer
      h4= info.url
