<div class="modal-header">
	<h3 class="modal-title text-center">Отправьте данные чтобы узнать сколько будут стоить наши услуги</h3>
	<button type="button" class="close close-modal" aria-label="Close" ng-click="m.close($event)">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<h4 ng-if="m.isSuccess" class="alert alert-success text-center">Ваш запрос отправлен. Скоро мы свяжемся с Вами.</h4>
<h4 ng-if="m.isError" class="alert alert-danger text-center">Ошибка. Приносим свои извинения.</h4>

<div class="modal-body modal-request-body">
	<form name="m.form" ng-submit="m.form.$valid && m.submit()">
		<fieldset ng-disabled="m.loading">
			<div class="form-group">
				<label for="yourname">Ваше имя</label>
				<span class="required">  *</span>
				<input class="form-control" id="yourname" type="text" ng-model="m.model.name" required>
			</div>
			
			<div class="form-group">
				<label for="yourphone">Ваш телефон</label>
				<span class="required">  *</span>
				<input class="form-control" id="yourphone" type="text" ng-model="m.model.phone" required>
			</div>
			
			<div class="form-group">
				<label for="youremail">Ваш email</label>
				<span class="required">  *</span>
				<input class="form-control" id="youremail" type="email" ng-model="m.model.email" required>
			</div>
			
			<h2>Заявка</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>#</th>
						<th>Наименование</th>
						<th>Код Изделия</th>
						<th>Количество</th>
						<th>Толщина мм</th>
						<th>Примечание</th>
					</thead>
					<tbody>
						<tr ng-repeat="r in m.model.rows">
							<td ng-bind="$index + 1"></td>
							<td><input type="text" ng-model="r.name"></td>
							<td><input type="text" ng-model="r.code"></td>
							<td><input type="number" ng-model="r.count"></td>
							<td><input type="number" ng-model="r.wide"></td>
							<td><input type="text" ng-model="r.note"></td>
						</tr>
					</tbody>
				</table>
				
				<button type="button" class="add-row-btn btn btn-sm btn-info" ng-click="m.addRow()">
					<i class="glyphicon glyphicon-plus"></i>
					Добавить
				</button>
			</div>
			
			<div class="form-group">
				<label class="block" for="yourfile">Выберите файл (DXF, DWG)<span class="required">  *</span></label>
				<div class="inline-block m-r-15">
					<input class="form-control" id="yourfile" type="text" input-file ng-model="m.model.file" required>
				</div>
				<h4 class="inline-block">{{m.model.file.name}}</h4>
			</div>
		</fieldset>
		
		<div class="text-center">
			<button class="btn btn-primary request-btn" type="button" ng-class="{'loading': m.loading}"
					ng-disabled="(m.form.$invalid && m.form.$submitted) || m.loading" 
					ng-click="m.submit()" ng-bind="m.loading ? m.sendText.sending : m.sendText.send"></button>
		</div>
	</form>
</div> 
