.row.contacts
	.col-sm-6
		h4= i18n.__('diamondCrowns')
		.row
			.column.first
				.item
					span(class='glyphicon glyphicon-earphone')
					= contacts.phoneMob
				.item
					span(class='glyphicon glyphicon-earphone')
					= contacts.phoneBY
					
			.column
				.item
					span(class='glyphicon glyphicon-earphone')
					= contacts.phoneRUS
				.item
					span(class='glyphicon glyphicon-envelope')
					= contacts.email
		
	.col-sm-3.col-md-offset-3
		
		h4= i18n.__('laserCutting')
		.item
			span(class='glyphicon glyphicon-earphone')
			= contacts.laserPhone
	
		.item
			span(class='glyphicon glyphicon-envelope')
			= contacts.laserEmail
