div(role="navigation").navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')= info.name
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-left
				each link in navLinks
					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= i18n.__(link.key)
					
			ul.nav.navbar-nav.navbar-right
				each l in languages
					if (l != currentLanguage)
						li: a(href='setlocale/'+ l)
							img(src='images/' + l + '.svg', class='lang-flag')
							= i18n.__(l)
