html
  head
  body
    h2 Обратная связь с Metallita.com
    p 
      strong Имя: 
      =enquiry.name
        
    p
      strong Email: 
      =enquiry.email
    
    if enquiry.phone
      p
        strong Телефон: 
        =enquiry.phone
      
    p
      strong Сообщение: 
      p(style='white-space: pre-line;')!= enquiry.message
    hr
    p 
      strong Отправлено в 
      =enquiry._.createdAt.format('DD.MM.YYYY HH:mm')
