@gray-darker: #DC2722;
@red: #DC2722;
@dark-red: #AE2222;
//@gray-dark: #CC2420;
@text-color: lighten(@gray-base, 20%);   // #333
@body-bg: #F3F0EB;
@gray-border: #8c8b8b;

html {
	height: 100%;
	box-sizing: border-box;
}
body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding-bottom: 100px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


p, span {
	white-space: pre-line;
}

.lang-flag {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-right: 5px;
}

// block blocks/contacts
.contacts {
	margin-top: -10px;
	.column {
		display: inline-block;
		padding: 0 20px;
		&.first {
			padding-right: 0;
		}
	}
	.glyphicon {
		padding-right: 7px;
	}
	h4 {
		font-weight: normal;
	}
	.item {
		margin-bottom: 5px;
		white-space: nowrap;
	}
}

@media only screen and (max-width: 768px) {
	.contacts .column { 
		padding: 0 20px;
		&.first {
			padding: 0 20px;	
		}
	}
}


footer {
	background: @red;
	color: white;
	text-align: center;
	box-sizing: border-box;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	h4 {
		padding-top: 6px;
	}
}

.red-color {
	color: @red;
}

.ng-submitted {
	.ng-invalid {
		border-color: @red;
		color: @red;
	}
}

.required {
	.red-color();
	font-size: 22px;
	line-height: 1px;
	font-weight: normal;
}

.contact-divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	margin-top: 30px;
}
.content-divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0);
}

.contacts-page {
	.text {
		margin-top: 20px;
	}
}

.limit-1000 {
	max-width: 1000px;
	margin: auto auto;
}

@media (min-width: 992px) {
	.modal-lg {
		width: 950px;
	}
}

.modal-header {
	position: relative;
}
.close-modal {
	position: absolute;
	right: 15px;
	top: 15px;
	outline: none;
}

.modal-request-body {
	.table {
		margin-bottom: 5px;
	}
	.add-row-btn {
		margin-left: 10px;
		margin-bottom: 20px;
	}
}

.navbar-collapse.in {
	overflow: hidden;
}
.nav li a {
	.transition();
	line-height: inherit;
}

.transition() {
	-webkit-transition: background 150ms ease;
	-moz-transition: background 150ms ease;
	-o-transition: background 150ms ease;
	transition: background 150ms ease;
}

@import "elements";
@import "pages/home";
@import "pages/contacts";
@import "pages/products";

