.slick-prev,
.slick-next {
	font-size: 0;
	background-color: transparent;
	border: 0;
	top: 50%;
	margin-top: -26px;
	position: absolute;
	width: 29px;
	height: 53px;
	z-index: 1;
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:active:before,
.slick-next:active:before {
	border-color: #a6a6a5;
}

.slick-prev:before,
.slick-next:before {
	content: '';
	position: absolute;
	top: 7px;
	z-index: 1;
	border: 3px solid #babab8;
	border-bottom: 0;
	border-left: 0;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.slick-prev {
	left: 0;
}

.slick-prev:before {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	left: 7px;
}

.slick-next {
	right: 0;
}

.slick-next:before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	right: 7px;
}

// INPUTS

.ng-submitted {
	.form-group {
		.ng-invalid ~ button {
			border-color: @red;
			color: @red;
		}	
	}
}

.btn-upload {
	color: black;
	background-color: #ffffff;
	border-color: #8e8e8e;
	border-width: 2px;
	&:hover, &:focus, &:active, &:visited {
		color: black;
		border-color: rgba(39, 128, 227, 0.79);
	}
	&[disabled] {
		border-color: inherit;
	}
}

input[type='file'] {
	display: none;
}

input[input-file] {
	display: none;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.m-r-15 {
	margin-right: 15px;
}

.request-btn {
	margin-top: 15px;
	width: 50%;	
}

/* loading dots */

.loading:after {
	content: ' .';
	animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
	0%, 20% {
		color: rgba(0,0,0,0);
		text-shadow:
				.25em 0 0 rgba(0,0,0,0),
				.5em 0 0 rgba(0,0,0,0);}
	40% {
		color: white;
		text-shadow:
				.25em 0 0 rgba(0,0,0,0),
				.5em 0 0 rgba(0,0,0,0);}
	60% {
		text-shadow:
				.25em 0 0 white,
				.5em 0 0 rgba(0,0,0,0);}
	80%, 100% {
		text-shadow:
				.25em 0 0 white,
				.5em 0 0 white;}}
